<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
    <title>New Requests</title>
</head>
<body class="dashboard-bg">
    <div id="dashboard-container">
        <nav role="navigation" class="flex-container">
            <div class="nav-left">
                <a href="/">
                    <img src="/img/Murdoch_logo-Pink.jpg" width="150px" style="display:inline-block">
                </a>
            </div>
            <div class="nav-right">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <li><p class="nav-name"><%= staff.sam_fname + " " + staff.sam_lname %></p><p class="nav-title">Senior Administration</p></li>
                        <img class="float-left" src="/img/Logout-White.png" width="29px">
                        <form action="/staff/logout?_method=DELETE" method="POST">
                            <button class="float-left logout-btn" href="logout">Logout</button>
                        </form>
                        <div class="clear-float"></div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="new-requests-container-inner">
        <div class="dashboard-titles">
            <img src="/img/Form-Grey.png" style="height:20px; width:20px; margin-right:10px; vertical-align:middle">
            <p>New Requests</p>
        </div>
        <div class="new-requests-content">
            <div class="new-requests-top-content">
                <p><%= requestData.r_type %></p>
                <p><%= requestData.r_NO%></p>
                <p>Description of Requests</p>
                <p><%= requestData.r_description %></p>
                <div class="new-req-student-id float-left">
                    <p>Requestor ID</p>
                    <p><%= requestData.s_ID || requestData.sss_ID %></p>
                </div>
                <div class="new-req-student-name float-left">
                    <p>Requestor Name</p>
                    <p><%= requestData.s_fname ? (requestData.s_fname + " " + requestData.s_lname) : (requestData.sss_fname + " " + requestData.sss_lname) %></p>
                </div>
                <div class="clear-float"></div>
                <div class="attached-file">
                    <a href="/sam/download<%= requestData.r_documentpath %>">
                        <div class="new-requests-attached-file-btn">
                            Attached File
                        </div>
                    </a>
                </div>
            </div>
            <form name="new-request" action="/sam/<%= staff.sam_ID %>/request/new/<%= requestData.r_NO %>/submit" id="new-requests-form" method="POST" enctype="multipart/form-data" >
                <input type="hidden" name="requestNo" value="<%= requestData.r_NO%>">
                <input type="hidden" name="requestType" value="<%= requestData.r_type%>">
                <input type="hidden" name="requestorName" value="<%= requestData.s_fname ? (requestData.s_fname + " " + requestData.s_lname) : (requestData.sss_fname + " " + requestData.sss_lname) %>">
                <input type="hidden" name="requestorID" value="<%= requestData.s_ID || requestData.sss_ID %>">
                <div class="float-left">
                    <select class="select-staff-dropdown" name="selectedAcademicStaff" id="select-staff-dropdown">
                    <option value="" disabled selected>Academic Staff Assigned</option>
                    <% academicStaffList.forEach((academicStaff) => { %>
                        <option value="<%= academicStaff.as_ID %>"><%= academicStaff.as_fname + " " + academicStaff.as_lname + ", " + academicStaff.as_ID %></option>
                    <% });%>
                    </select>
                </div>
                <div class="float-right">
                    <input type="date" id="duedate" name="duedate">
                </div>
                <br>
                <textarea class="comment" placeholder="Comments" name="comment" id="commentbox"></textarea><br>
                <br>
                <input class="assign-btn" type="submit" name="action" value="Assign" onclick="return Validate()">
                <input class="reject-btn" type="submit" name="action" value="Reject">
                <input class="more-info-btn" type="submit" name="action" value="Request More Info" onclick="return Validate2()">
              </form>
              <p id = "errormsg" style =
            "color:red; font-size: 20px; font-weight: bold;">
        </p>
        </div>
    </div>
</body>
<script>
   function Validate() {
    var down = document.getElementById('errormsg');
        var selectstaffdropdown = document.getElementById("select-staff-dropdown");
        var duedate = document.getElementById("duedate");
        if (selectstaffdropdown.value == "") {
             down.innerHTML = "Please assign a Academic Staff";
            return false;
        }
        else if(duedate.value == ""){
          down.innerHTML = "Please assign a Duedate";
            return false;

        }
        return true;
    }
    function trimfield(str) 
{ 
    return str.replace(/^\s+|\s+$/g,''); 
}
    function Validate2(){
      var down = document.getElementById('errormsg');
      var commentbox=document.getElementById("commentbox")
      if (trimfield(commentbox.value) == "") {
             down.innerHTML = "Please input comments";
            return false;
        }
      
        return true;
    }


  var today = new Date().toISOString().split('T')[0];
document.getElementsByName("duedate")[0].setAttribute('min', today);

  var x, i, j, l, ll, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  l = x.length;
  for (i = 0; i < l; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    ll = selElmnt.length;
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 1; j < ll; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h, sl, yl;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          sl = s.length;
          h = this.parentNode.previousSibling;
          for (i = 0; i < sl; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              yl = y.length;
              for (k = 0; k < yl; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, xl, yl, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    xl = x.length;
    yl = y.length;
    for (i = 0; i < yl; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < xl; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
  document.addEventListener("click", closeAllSelect);
  const actualBtn = document.getElementById('actual-btn');

const fileChosen = document.getElementById('file-chosen');

actualBtn.addEventListener('change', function(){
fileChosen.textContent = this.files[0].name
})

function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
  </script>
</html>